@import "../../../../common.scss";
@import "../../../../metrics.scss";
@import "../../../../font.scss";
@import "../../../../mixins.scss";

$paddings: map-get($metrics, "paddings");
$padding_small: map-get($paddings, "small");

$code_font: map-get($font, "intro_code");
$code_fontsize: map-get($code_font, "fontsize");

.introCode {
    background-color: $dark;
    color: $light;
    border-radius: 0.5rem;
    margin-bottom: $padding_small;

    .content {
        display: flex;

        .code {
            font-size: $code_fontsize;
            padding-left: 1rem;
            overflow-x: auto;

            @include customScrollbar(rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.3));
        }
    }
}