@import "../../../../../common.scss";
@import "../../../../../mixins.scss";
@import "../../../../../metrics.scss";

$distance_metrics: map-get($metrics, "distance");
$distance_normal: map-get($distance_metrics, "normal");

textarea {
    padding: $distance_normal;
    font-family: "Roboto", sans-serif;
    border: 0.1rem solid $niceYellow;
    resize: none;
    overflow-y: auto;
    @include hideScrollbar();
}