@import "../../../../../common.scss";
@import "../../../../../mixins.scss";

.textarea {
    padding: 0.8rem;
    font-family: "Roboto", sans-serif;
    border: 0.1rem solid $primary;
    border-radius: 0.2rem;
    resize: none;
    overflow-y: auto;
    @include hideScrollbar();
    font-size: 0.9rem;
}