@import "../../../common.scss";
@import "../../../metrics.scss";
@import "../../../font.scss";
@import "../../../mixins.scss";

$icon_font: map-get($font, "icon");
$icon_fontsize: map-get($icon_font, "fontsize");

$paddings: map-get($metrics, "paddings");
$padding_small: map-get($paddings, "small");
$padding_x_small: map-get($paddings, "x_small");

$subsection_title_font: map-get($font, "subsection_title");
$subsection_title_fontsize: map-get($subsection_title_font, "fontsize");
$subsection_title_fontsize_tablet: map-get($subsection_title_font, "fontsize_tablet");

.fileDownload {
    display: block;
    text-decoration: none;
    color: $dark;
    border: 0.1rem solid transparent;
    padding: 0 $padding_small;

    &:not(:last-child) {
        margin-bottom: 0.6rem;

        .file {
            border-bottom: 0.1rem solid $transparentDark;
        }
    }

    &:hover {
        border-color: $accent;
    }

    >h3 {
        font-size: $subsection_title_fontsize;
        margin: $padding_x_small 0;
        text-transform: uppercase;
    }

    .file {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: $padding_small;
        gap: 2rem;

        .fileInfo {
            font-size: 1.4rem;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-right: auto;
            word-break: break-all;

            > :last-child {
                text-transform: uppercase;
                letter-spacing: 0.15rem;
            }

            >p {
                margin: 0;
            }
        }

        .filePreview {
            width: 6rem;
            height: 6rem;

            >img {
                max-width: 100%;
                max-height: 100%;
                display: flex;
                justify-self: center;
            }
        }

        >.downloadBtn {
            font-size: $icon_fontsize;
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            background-color: $accent;
            color: $light;
            border: 0.3rem solid $light;
        }
    }

    @include device("tablet") {
        >h3 {
            font-size: $subsection_title_fontsize_tablet;
        }
    }

    @include device("mobile") {
        padding: 0 $padding_x_small;

        .filePreview {
            display: none;
        }
    }
}