@import "../../../common.scss";
@import "../../../metrics.scss";
@import "../../../font.scss";

$icon_font: map-get($font, "icon");
$icon_fontsize: map-get($icon_font, "fontsize");

$paddings: map-get($metrics, "paddings");
$padding_x_small: map-get($paddings, "x_small");

.form {
    .formFieldset {
        width: 100%;
        border: none;
        padding: 0 $padding_x_small;

        .fieldContainer {
            margin-bottom: 1.2rem;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }

            .field {
                margin-top: 0.6rem;
            }

            .fieldLabel {
                display: flex;
                margin-left: 0.6rem;
                font-size: 0.8rem;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }

            .error >.field {
                border-bottom: 0.2rem solid $error;
            }
            .error.checkboxWrapper > .field {
                border: 0.2rem solid $error;
                border-radius: 0.5rem;
            }
        }

        .checkboxWrapper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: flex-start;

            .field {
                margin-top: 0;
            }

            .fieldLabel {
                text-transform: unset;
                letter-spacing: unset;
                word-break: break-word;
                margin-top: 0.6rem;
                font-size: 0.9rem;
                display: inline;
            }
        }
    }

    .submitLoading {
        height: 100%;
        width: 100%;
        font-size: 1rem;
    }
}

.fieldError {
    display: inline-flex;
    font-size: 0.9rem;
    color: $error;
    margin-top: 0.6rem;
    align-items: center;
    gap: 0.6rem;

    .errorIcon {
        font-size: $icon_fontsize;
    }
}