@import "../../../common.scss";
@import "../../../metrics.scss";
@import "../../../font.scss";

$distance_metrics: map-get($metrics, "distance");
$distance_small: map-get($distance_metrics, "small");
$distance_large: map-get($distance_metrics, "large");
$icon_font: map-get($font, "icon");
$icon_fontsize: map-get($icon_font, "fontsize");

.form {
    .formFieldset {
        width: 100%;
        border: none;
        padding: 0 0.6rem;

        .fieldContainer {
            margin-bottom: 1.2rem;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }

            .fieldError {
                display: inline-flex;
                font-size: 0.9rem;
                color: $error;
                margin-top: $distance_small;
                align-items: center;
                gap: $distance_small;

                .errorIcon {
                    font-size: $icon_fontsize;
                }
            }

            .field {
                margin-top: $distance_small;
            }

            .fieldLabel {
                display: flex;
                margin-left: $distance_small;
                font-size: 0.8rem;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }

            .error:not(.checkboxWrapper)>.field {
                border-bottom: 0.2rem solid red;
            }
        }

        .checkboxWrapper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: flex-start;

            .field {
                margin-top: 0;
            }

            .fieldLabel {
                text-transform: unset;
                letter-spacing: unset;
                word-break: break-word;
                margin-top: 0.6rem;
                font-size: 0.9rem;
            }
        }
    }

    .submitLoading {
        height: 100%;
        width: 100%;
        font-size: 1rem;
    }
}