@import "../../../mixins.scss";
@import "../../../common.scss";
@import "../../../font.scss";

$action_font: map-get($font, "action");
$action_fontsize: map-get($action_font, "fontsize");
$action_fontweight: map-get($action_font, "fontweight");


.currentLanguageContainer,
.languageListItem>.itemContent {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    &,
    >* {
        cursor: pointer;
    }

    >label {
        font-size: $action_fontsize;
        font-weight: $action_fontweight; 
        letter-spacing: 0.1rem;
    }
}

.langImg {
    width: 1.7rem;
    height: 1.7rem;
}

.currentLanguageContainer {
    margin: 0 2rem 0 auto;
    @include device("tablet") {
        text-transform: uppercase;
    }
}

.languageListItem {
    border: 0.1rem solid transparent;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
    @include device("mobile") {
        text-transform: uppercase;
        margin-right: 1rem;
    }

    &:hover {
        border-color: $niceOrange;
    }

    &.active::after {
        background-color: $niceOrange;
    }

    &::after {
        display: block;
        position: relative;
        right: 0;
        left: 0;
        width: 100%;
        content: "";
        height: 0.1rem;
        background-color: transparent;
    }
}

.popoverContainer {
    background-color: white;
    @include shadow();
}

.languageList {
    list-style: none;

    &.popoverLanguageList {
        padding: 1rem 2rem;
        margin: 1rem 0;
        padding: 1rem;
    }
}