@import "../../../../common.scss";
@import "../../../../font.scss";
@import "../../../../metrics.scss";

$icon_font: map-get($font, "icon");
$icon_fontsize: map-get($icon_font, "fontsize");

$input_metrics: map-get($metrics, "input");
$input_height: map-get($input_metrics, "height");

.searchbar {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;

    .iconSearch {
        width: $icon_fontsize;
        height: $icon_fontsize;
        font-size: $icon_fontsize;
        position: absolute;
        opacity: 0.5;
        left: 0.6rem;
    }

    .searchbarInput {
        flex-grow: 1;
        height: $input_height;
        border: none;
        padding-left: 2.4rem;
        font-family: "Roboto", sans-serif;
        min-width: 0;
    }
}