@import "../../common.scss";
@import "../../metrics.scss";
@import "../../mixins.scss";

$paddings: map-get($metrics, "paddings");
$padding_small: map-get($paddings, "small");
$padding_normal: map-get($paddings, "normal");

.fileList {
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem -1rem $dark;
    padding: $padding_normal;
    background-color: white;

    @include device("mobile") {
        padding: $padding_small;
    }
}