@import "../../common.scss";
@import "../../metrics.scss";
@import "../../mixins.scss";

$paddings: map-get($metrics, "paddings");
$padding_large: map-get($paddings, "large");
$padding_x_small: map-get($paddings, "x_small");

.resultContainer {
    cursor: pointer;
    padding: $padding_large;
    border: 0.3rem solid transparent;

    &:hover {
        border-color: $accent;
    }

    .resultTitle {
        font-weight: 500;
    }

    .resultContent {
        font-size: 1.4rem;
        pointer-events: none;

        .highlightedSearchTerms {
            color: $accent;
            font-weight: 500;
            padding: 0 $padding_x_small;
        }

        a {
            text-decoration: none;
            font-weight: initial;
            color: initial;
        }
    }
}

.noResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2.4rem;

    >.noResultsIcon {
        font-size: 15rem;
        color: $primary;
    }

    >.noResultsText {
        font-size: 3rem;
        text-align: center;

        @include device("tablet") {
            font-size: 2rem;
        }
    }
}