@import "../../common.scss";
@import "../../metrics.scss";

$distance_metrics: map-get($metrics, "distance");
$distance_large: map-get($distance_metrics, "large");

.resultContainer {
    cursor: pointer;
    padding: $distance_large;
    border: 0.3rem solid transparent;

    &:hover {
        border-color: $niceOrange;
    }
    .resultTitle {
        font-weight: 500;
    }
    .resultContent {
        font-size: 1.4rem;
        .highlightedSearchTerms {
            color: $niceOrange;
            font-weight: 500;
        }
    }
}

.noResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2.4rem;

    > .noResultsIcon {
        font-size: 15rem;
        color: $niceYellow;
    }

    > .noResultsText {
        font-size: 3rem;
        text-align: center;

        @include device("tablet") {
            font-size: 2rem;
        }
    }
}