@import "../../../../common.scss";

.inputWrapper {
    position: relative;

    >* {
        min-height: 2.7rem;
    }

    >input {
        width: 100%;
        border: 0.1rem solid $primary;
        padding: 0 0.8rem;
        border-radius: 0.2rem;
        font-family: "Roboto", sans-serif;
        color: $dark;
        font-size: 0.9rem;

        &.checkbox {
            min-height: 1.8rem;
            width: 1.8rem;
        }
    }
}