@import "../../../common.scss";
@import "../../../metrics.scss";
@import "../../../mixins.scss";

$paddings: map-get($metrics, "paddings");
$padding_small: map-get($paddings, "small");
$padding_normal: map-get($paddings, "normal");

.contactMeForm {
    padding: $padding_normal;
    background-color: white;
    border-radius: 0.5rem;
    @include shadow();
    margin: 2rem auto 0 auto;

    @include device("tablet") {
        padding: $padding_small;

        .phoneDataRow {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 1rem;

            >.fieldContainer:first-child {
                max-width: 100%;
            }
        }
    }

    .phoneDataRow {
        display: flex;
        justify-content: space-between;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        >.fieldContainer {
            flex-grow: 1;

            &:first-child {
                max-width: 14rem;

                input {
                    width: 10rem;
                }
            }
        }
    }

    .messageFieldContainer {
        .charsCounter {
            margin-left: 2.4rem;

            &.error {
                color: red;
                font-weight: 500;
            }
        }

        textarea {
            width: 100%;
            height: 15rem;
            overflow: hidden;
        }
    }

    .privacyLabel {
        display: inline;
    }

    .submitRow {
        display: flex;
        gap: 2.4rem;

        .confirmMessage {
            font-size: 1rem;
            font-weight: bold;

            &.error {
                color: $error;
            }

            &.success {
                color: $success;
            }
        }
    }
}