@import "../../../../common.scss";
@import "../../../../font.scss";
@import "../../../../mixins.scss";
@import "../../../../metrics.scss";

$navlink_font: map-get($font, "navlink");
$navlink_fontsize: map-get($navlink_font, "fontsize");
$navlink_fontsize_tablet: map-get($navlink_font, "fontsize_tablet");
$navlink_fontweight: map-get($navlink_font, "fontweight");
$navlink_letterspacing: map-get($navlink_font, "letter_spacing");

$icon_font: map-get($font, "icon");
$icon_fontsize: map-get($icon_font, "fontsize");
$icon_fontsize_small: map-get($icon_font, "fontsize_small");

$distance_metrics: map-get($metrics, "distance");
$distance_normal: map-get($distance_metrics, "normal");
$distance_large: map-get($distance_metrics, "large");
$full_padding: map-get($distance_metrics, "full_small");

.navbarContainer {
    min-width: 15rem;
    flex-grow:1;
    padding: 3rem 3rem 0 4rem;
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
    @include hideScrollbar();

    &.collapsed {
        padding: 2.5rem 2.5rem 2.5rem 2.45rem;
        min-width: 0;
        max-width: 100%;
        display: flex;
        justify-content: center;

        * {
            pointer-events: none;
        }
        >.navbar .mainNavLink .routeName  {
            width: 100%;
            overflow: hidden;
        }
    }

    @include device("tablet") {
        padding: 1rem 1.5rem 1.5rem 2.45rem;
        min-width: 0;
        max-width: 100%;
    }

    @include device("mobile") {
        padding-top: 2rem;
    }

    > .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.4rem;

        >.mainNavLinkWrapper {
            display: flex;
            flex-direction: column;
            gap: 1.4rem;
            .mainNavLink {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 2rem;
                cursor: pointer;
                font-size: $navlink_fontsize;
                font-weight: $navlink_fontweight;
                letter-spacing: $navlink_letterspacing;
                text-transform: uppercase;
                text-decoration: none;
                color: $niceBlack;

                &.mainSubNavLink {
                    &:last-child {
                        margin-bottom: 1rem;
                    }
                }

                @include device("tablet") {
                    font-size: $navlink_fontsize_tablet;
                }
            
                &:hover::after {
                    background-color: $niceBlack;    
                }

                &.mainNavLinkActive {
                    &::after {
                        background-color: $niceOrange;    
                    }
                    .icon {
                        color: $niceOrange;
                    }
                }
            
                &::after {
                    display: block;
                    position: relative;
                    right: 0;
                    left: 0;
                    width: 100%;
                    content: "";
                    height: 0.1rem;
                    background-color: transparent;
                    @include animation(font-size, .1s);
                }
            
                > a {
                    text-decoration: none;
                    color: $niceBlack;
                }

                .routeName {
                    display: flex;
                    align-items: center;
                    > .icon {
                        font-size: $icon_fontsize;
                        margin-right: 1rem;

                        &.iconRouteCollapse {
                            margin: 0 0 0 auto;
                        }
                    }
                }
            }
        }
    }
}