@import "../../../../common.scss";
@import "../../../../font.scss";
@import "../../../../mixins.scss";
@import "../../../../metrics.scss";

$navlink_font: map-get($font, "navlink");
$navlink_fontsize: map-get($navlink_font, "fontsize");
$navlink_fontsize_tablet: map-get($navlink_font, "fontsize_tablet");
$navlink_fontweight: map-get($navlink_font, "fontweight");
$navlink_letterspacing: map-get($navlink_font, "letter_spacing");

$icon_font: map-get($font, "icon");
$icon_fontsize: map-get($icon_font, "fontsize");

$paddings: map-get($metrics, "paddings");
$padding_small: map-get($paddings, "small");
$padding_large: map-get($paddings, "large");


.navbarContainer {
    min-width: 15rem;
    flex-grow: 1;
    padding: $padding_small $padding_large $padding_small 6vw;
    overflow-y: auto;
    overflow-x: hidden;

    &.collapsed {
        margin: 5vh 0 0 0;
        padding: 0 2.5rem;
        min-width: 0;
        max-width: 100%;
        display: flex;
        justify-content: center;

        * {
            pointer-events: none;
        }

        >.navbar .mainNavLink .routeName {
            width: 100%;
            overflow: hidden;
        }
    }

    @include device("tablet") {
        padding: 0 2.5rem 2.5rem 2.45rem;
        margin: 5vh 0 0 0;
        min-width: 0;
        max-width: 100%;
    }

    @include device("mobile") {
        padding: 2.5rem;
        margin: 8vh 0 0 0;
    }

    >.navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;

        >.mainNavLinkWrapper {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .mainNavLink {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 2rem;
                cursor: pointer;
                font-size: $navlink_fontsize;
                font-weight: $navlink_fontweight;
                letter-spacing: $navlink_letterspacing;
                text-transform: uppercase;
                text-decoration: none;
                color: $dark;

                &.mainSubNavLink {
                    &:last-child {
                        margin-bottom: 1rem;
                    }
                }

                @include device("tablet") {
                    font-size: $navlink_fontsize_tablet;
                }

                &:hover::after {
                    background-color: $dark;
                }

                &.mainNavLinkActive {
                    &::after {
                        background-color: $accent;
                    }

                    .icon {
                        color: $accent;
                    }
                }

                &::after {
                    display: block;
                    position: relative;
                    right: 0;
                    left: 0;
                    width: 100%;
                    content: "";
                    height: 0.1rem;
                    background-color: transparent;
                    @include animation(font-size, .1s);
                }

                >a {
                    text-decoration: none;
                    color: $dark;
                }

                .routeName {
                    display: flex;
                    align-items: center;

                    >.icon {
                        font-size: $icon_fontsize;
                        margin-right: 1rem;

                        &.iconRouteCollapse {
                            margin: 0 0 0 auto;
                        }
                    }
                }
            }
        }
    }
}