@import "../../../../common.scss";
@import "../../../../metrics.scss";
@import "../../../../font.scss";
@import "../../../../mixins.scss";

$navlink_font: map-get($font, "navlink");
$navlink_fontsize: map-get($navlink_font, "fontsize");
$navlink_fontweight: map-get($navlink_font, "fontweight");
$navlink_letterspacing: map-get($navlink_font, "letter_spacing");

$icon_font: map-get($font, "icon");
$icon_fontsize_small: map-get($icon_font, "fontsize_small");

$header_metrics: map-get($metrics, "header");
$header_height: map-get($header_metrics, "height");

$sidebar_metrics: map-get($metrics, "sidebar");
$sidebar_width: map-get($sidebar_metrics, "width");
$sidebar_width_tablet: map-get($sidebar_metrics, "width_tablet");

.subNavbarContainer {
    background-color: $light;

    @include device("mobile") {
        display: none;
    }

    .subNavbar {
        display: flex;
        justify-content: space-evenly;
        place-items: center;

        >.subNavLink {
            display: flex;
            align-items: center;
            flex-grow: 1;
            height: 50%;
            font-size: $navlink_fontsize;
            font-weight: $navlink_fontweight;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color: $dark;
            letter-spacing: $navlink_letterspacing;
            height: 3rem;
            border-bottom: 0.1rem solid $dark;

            &:hover,
            &.subNavLinkActive {
                color: $accent;
                border-bottom-color: $accent;
            }

            >.routeName {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1;

                >.routeNameIcon {
                    font-size: $icon_fontsize_small;
                    margin-right: 1rem;
                }
            }

            @include device("tablet") {
                >.routeName>.routeNameIcon {
                    display: none;
                }
            }
        }


    }
}