@import "../../../../common.scss";
@import "../../../../metrics.scss";
@import "../../../../mixins.scss";

$header_metrics: map-get($metrics, "header");
$header_height: map-get($header_metrics, "height");

.personalInfo {
    display: flex;
    padding: 0 3rem 0 4.3rem;
    align-items: center;
    width: 22.5rem;
    color: $dark;
    text-decoration: none;
    min-height: $header_height;

    &:focus-visible {
        outline-offset: -0.2rem;
    }

    >.info {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        justify-content: center;
        margin-left: 1rem;

        :first-child {
            font-weight: 500;
            font-size: 1rem;
        }

        :last-child {
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-size: 0.65rem;
        }
    }

    .picture {
        height: 3.1rem;
        width: 3.1rem;
        border-radius: 100%;
        background-color: white;
        border: 0.1rem solid $accent;
    }

    @include device("tablet") {
        padding: 0 0 0 1rem;
        min-width: 15rem;
    }
}