@import "../../../../common.scss";
@import "../../../../metrics.scss";
@import "../../../../mixins.scss";

$distance_metrics: map-get($metrics, "distance");
$distance_small: map-get($distance_metrics, "small");
$distance_normal: map-get($distance_metrics, "normal");
$distance_xx_large: map-get($distance_metrics, "xx_large");

.personalInfo {
    display: flex;
    padding: 0 3rem 0 4.3rem; 
    align-items: center;
    width: 22.5rem;
    color: $niceBlack;
    text-decoration: none;
    height: 4.6rem;

    &:focus-visible {
        outline-offset: -0.2rem;
    }

    >.info {
        display: flex;
        flex-direction: column;
        gap: $distance_small;
        justify-content: center;
        margin-left: $distance_normal;

        :first-child {
            font-weight: 500;
            font-size: 1rem;
        }

        :last-child {
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-size: 0.65rem;
        }
    }

    .picture {
        height: 3.1rem;
        width: 3.1rem;
        border-radius: 100%;
        background-color: white;
    }

    @include device("tablet") {
        padding: 0 0 0 1rem;
        min-width: 15rem;
    } 
}