@import "../../../../common.scss";
@import "../../../../metrics.scss";

$distance_metrics: map-get($metrics, "distance");
$distance_small: map-get($distance_metrics, "small");
$distance_normal: map-get($distance_metrics, "normal");
$distance_xx_large: map-get($distance_metrics, "xx_large");

.personalInfo {
    display: flex;
    padding: $distance_normal 0;
    height: $distance_xx_large;

    > .info {
        display: flex;
        flex-direction: column;
        gap: $distance_small;
        justify-content: center;
        margin-left: $distance_normal;
    
        :first-child {
            font-weight: 500;
            letter-spacing: 0.1rem;
            font-size: 1.4rem;
        }
        :last-child {
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            font-size: 1rem;
        }
    }
    
    .picture {
        height: 7rem;
        width: 7rem;
        border-radius: 100%;
        background-color: white;
    }

    @include device("tablet") {
        height: 7.4rem;

        .picture {
            width: 5rem;
            height: 5rem;
        }
    }

    @include device("mobile") {
        height: 6rem;
        .picture {
            width: 3.6rem;
            height: 3.6rem;
        }

        > .info {
            > :first-child {
                font-size: 1.2rem;
            }
            > :last-child {
                font-size: 0.9rem;
            }
        }
    }
}