@import "../../../../../common.scss";
@import "../../../../../font.scss";

$code_font: map-get($font, "intro_code");
$code_fontsize: map-get($code_font, "fontsize");


.linesCounter {
    border-right: 0.1rem solid $light;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0.6rem;

    >div {
        text-align: center;
        font-size: $code_fontsize;
        line-height: 1.5rem;
        padding: 0 0.6rem;
    }
}