@import "../../../font.scss";
@import "../../../metrics.scss";
@import "../../../mixins.scss";

$icon_font: map-get($font, "icon");
$icon_fontsize: map-get($icon_font, "fontsize");
$button_font: map-get($font, "button");
$button_letter_spacing: map-get($button_font, "letter_spacing");
$button_fontweight: map-get($button_font, "fontweight");
$button_fontsize: map-get($button_font, "fontsize");

.accordion.collapsed .accordionContent {
    display: none;
}

.accordionHeader {
    font-size: $button_fontsize;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    min-height: 1.7rem;
    text-transform: uppercase;
    font-weight: $button_fontweight;
    letter-spacing: $button_letter_spacing;
    padding: 0 1rem;
    cursor: pointer;

    @include device("mobile") {
        gap: 0;
    }

    > .accordionIcon {
        font-size: $icon_fontsize;
    }
}

.accordionContent {
    padding: 0.5rem 1rem;
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
}