@import "../../../common.scss";
@import "../../../metrics.scss";
@import "../../../font.scss";
@import "../../../mixins.scss";

$icon_font: map-get($font, "icon");
$icon_fontsize: map-get($icon_font, "fontsize");

$distance_metrics: map-get($metrics, "distance");
$distance_small: map-get($distance_metrics, "small");
$distance_normal: map-get($distance_metrics, "normal");
$distance_large: map-get($distance_metrics, "large");
$distance_x_large: map-get($distance_metrics, "x_large");

.headerbar {
    display: flex;
    flex-direction: column;
    gap: $distance_normal;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 4.6rem;

    .searchbarContainer {
        padding-right: 2rem;
        background-color: $niceYellow;
        display: flex;
        align-items: center;
        box-shadow: 0 0 1.5rem -1rem $niceBlack;

        >.headerSearchbar {
            width: 29rem;

            @include device("tablet") {
                width: 40vw;
            }
        }
    }

    .enhancedHeaderbar {
        display: flex;
        justify-content: flex-start;
        background-color: $niceYellow;
        cursor: pointer;

        > :first-child {
            margin-right: auto;
        }

        .headerLanguageFlag {
            width: 1.4rem;
            margin-right: 1rem;
        }
    }

    .icon {
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        margin: auto 1rem;
    }

    .headerbarDialog {
        position: fixed;
        min-height: 100%;
        min-width: 100%;
        border: none;
        padding: 1rem;
        background-color: $niceWhite;

        .closeHeaderbarDialogBtnWrapper {
            width: 100%;
            height: 4.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            padding-left: 1.2rem;
            background-color: $niceWhite;
            z-index: 3;
            border-bottom: 0.1rem solid $transparentBlack;

            >.headerLanguageSelector {
                display: flex;
                padding-left: 0;

                img {
                    width: 2rem;
                }
            }
        }

        .headerbarDialogContent {
            margin-top: $distance_x_large;

            .dialogSearchbar {
                gap: $distance_normal;
            }
        }
    }
}