@import "../../../common.scss";
@import "../../../metrics.scss";
@import "../../../font.scss";
@import "../../../mixins.scss";

$header_metrics: map-get($metrics, "header");
$header_height: map-get($header_metrics, "height");
$header_full_height_desktop: map-get($header_metrics, "full_height_desktop");
$header_full_height_tablet: map-get($header_metrics, "full_height_tablet");
$header_full_height_mobile: map-get($header_metrics, "full_height_mobile");

$paddings: map-get($metrics, "paddings");
$padding_normal: map-get($paddings, "normal");

.headerbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    height: $header_full_height_desktop;
    background-color: $light;

    @include device("tablet") {
        height: $header_full_height_tablet;
    }

    @include device("mobile") {
        height: $header_full_height_mobile;
    }


    .headerbarContent {
        padding-right: $padding_normal;
        background-color: $primary;
        display: flex;
        align-items: center;
        box-shadow: 0 0 1.5rem -1rem $dark;
        max-height: $header_height;

        @include device ("mobile") {
            justify-content: flex-start;
            cursor: pointer;
            padding-right: 0;

            > :first-child {
                margin-right: auto;
            }

            .headerLanguageFlag {
                margin-right: 1rem;
                border: 0.1rem solid $light;
                border-radius: 100%;
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    }

    .icon {
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        margin: auto 1rem;
    }

    .headerbarDialog {
        position: fixed;
        min-height: 100%;
        min-width: 100%;
        border: none;
        padding: 1rem;
        background-color: $light;

        .closeHeaderbarDialogBtnWrapper {
            width: 100%;
            height: 4.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            padding-left: 1.2rem;
            background-color: $light;
            z-index: 3;
            border-bottom: 0.1rem solid $transparentDark;

            >.headerLanguageSelector {
                display: flex;
                padding-left: 0;
                gap: 1rem;
            }
        }

        .headerbarDialogContent {
            margin-top: 4.8rem;
        }
    }
}