@import "../../../common.scss";
@import "../../../metrics.scss";
@import "../../../font.scss";
@import "../../../mixins.scss";

$button_font: map-get($font, "button");
$button_fontsize: map-get($button_font, "fontsize");
$button_fontweight: map-get($button_font, "fontweight");

$header_metrics: map-get($metrics, "header");
$header_height: map-get($header_metrics, "height");

$metrics_sidebar: map-get($metrics, "sidebar");
$sidebar_width: map-get($metrics_sidebar, "width");
$sidebar_width_tablet: map-get($metrics_sidebar, "width_tablet");

$paddings: map-get($metrics, "paddings");
$padding_small: map-get($paddings, "small");

$header_metrics: map-get($metrics, "header");
$header_height: map-get($header_metrics, "height");
$header_full_height_desktop: map-get($header_metrics, "full_height_desktop");
$header_full_height_tablet: map-get($header_metrics, "full_height_tablet");
$header_full_height_mobile: map-get($header_metrics, "full_height_mobile");

.levelLegendaContainer {
    height: fit-content;
    background-color: $accent;
    box-shadow: 0 0 1.5rem -1rem $dark;
    color: $light;
    position: sticky;
    top: $header_full_height_desktop;

    @include device("tablet") {
        top: $header_full_height_tablet;
    }

    @include device("mobile") {
        top: $header_full_height_mobile;
    }

    .levelLegendaContent {
        background-color: $light;
        width: 100%;
        border-bottom: 0.2rem solid $accent;
        padding-left: 1rem;
        color: $dark;

        >div>dl {
            >div {
                list-style-type: none;
                margin: 0.6rem 0;
                display: grid;
                grid-template-columns: 2rem 1fr;
                gap: 1rem;

                >.level {
                    display: inline-block;
                    width: 1.5rem;
                    height: 1.5rem;
                    font-size: $button_fontsize;
                    font-weight: $button_fontweight;
                    text-align: center;
                    border-radius: 100%;
                }
            }
        }
    }
}