@import "../../../common.scss";
@import "../../../metrics.scss";
@import "../../../font.scss";
@import "../../../mixins.scss";

$title_font: map-get($font, "route_title");
$title_fontsize: map-get($title_font, "fontsize");
$title_fontsize_tablet: map-get($title_font, "fontsize_tablet");
$title_line_height: map-get($title_font, "line_height");

$subtitle_font: map-get($font, "route_subtitle");
$subtitle_fontsize: map-get($subtitle_font, "fontsize");
$subtitle_fontsize_tablet: map-get($subtitle_font, "fontsize_tablet");
$subtitle_line_height: map-get($subtitle_font, "line_height");

$paragraph_font: map-get($font, "paragraph");
$paragraph_line_height: map-get($paragraph_font, "line_height");

.routeTitle {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    .title {
        font-size: $title_fontsize;
        margin-top: 0;
        margin-bottom: 1.5rem;
        hyphens: auto;
    }

    .subtitle {
        font-size: $subtitle_fontsize;
        line-height: $subtitle_line_height;
    }

    @include device("tablet") {
        .title {
            font-size: $title_fontsize_tablet;
        }

        .subtitle {
            font-size: $subtitle_fontsize_tablet;
        }
    }
}