@import "../../../../../metrics.scss";

$distance_metrics: map-get($metrics, "distance");
$distance_normal: map-get($distance_metrics, "normal");
$distance_large: map-get($distance_metrics, "large");

.beforeInputValue {
    position: absolute;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    margin: 0 0.8rem;
    font-size: 1rem;

    & + input {
        padding-left: $distance_large;
    }
}