.beforeInputValue {
    position: absolute;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    margin: 0 0.8rem;
    font-size: 1rem;

    & + input {
        padding-left: 2.4rem;
    }
}