@import "../../../common.scss";
@import "../../../metrics.scss";
@import "../../../font.scss";
@import "../../../mixins.scss";

$distance_metrics: map-get($metrics, "distance");
$distance_normal: map-get($distance_metrics, "normal");

$navlink_font: map-get($font, "navlink");
$navlink_fontsize: map-get($navlink_font, "fontsize");
$navlink_fontsize_tablet: map-get($navlink_font, "fontsize_tablet");
$navlink_fontweight: map-get($navlink_font, "fontweight");
$navlink_letterspacing: map-get($navlink_font, "letter_spacing");

.sidebar {
    background-color: $niceWhite;
    border-right: 0.1rem solid $transparentBlack;
    min-width: 28vw;
    min-height: 100%;
    max-height: 100%;
    cursor: pointer;
    overflow-y: hidden;
    position: fixed;

    @include device("desktop") {
        position: initial;
    }

    &.collapsed {
        min-width: 7.5rem;
        max-width: 7.5rem;
        .sidebarCollapseBtn {
            margin-top: 1.5rem;
        }
    }
}

.collapseSidebar {
    display: flex;
    font-size: $navlink_fontsize;
    text-transform: uppercase;
    letter-spacing: $navlink_letterspacing;
    font-weight: $navlink_fontweight;
    margin: 3rem 2.5rem 0 2.45rem;
    align-items: center;

    @include device("tablet") {
        font-size: $navlink_fontsize_tablet;
        height: 4.5rem;
        margin-top: 1.5rem;
    }
}

.sidebarCollapseBtn {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}


.sidebarDialog {
    margin: 0 auto 0 0;
    border: none;
    width: 18.5rem;
    padding: 0;

    &::backdrop {
        background-color: $niceBlack;
        opacity: 0.3;
    }
}

.sidebar:not(.sidebarDialog) {
    display: flex;
    justify-content: flex-start;

    @include device("tablet") {
        flex-direction: column;
        align-items: center;
    }
}