@import "../../../../common.scss";
@import "../../../../font.scss";
@import "../../../../metrics.scss";


$button_font: map-get($font, "button");
$button_fontsize: map-get($button_font, "fontsize");
$button_letter_spacing: map-get($button_font, "letter_spacing");
$button_fontweight: map-get($button_font, "fontweight");

$input_metrics: map-get($metrics, "input");
$input_height: map-get($input_metrics, "height");

.button {
    border: 0.1rem solid transparent;
    height: $input_height;
    min-width: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.12rem;
    background-color: $accent;
    cursor: pointer;
    padding: 0 1rem;

    &:hover {
        border-color: $light;

        >span {
            color: $light;
        }
    }

    &:disabled {
        pointer-events: none;
        background-color: $transparentAccent;

        &:hover {
            border-color: transparent;
        }
    }

    >span {
        font-weight: $button_fontweight;
        font-size: $button_fontsize;
        letter-spacing: $button_letter_spacing;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        color: $light;
    }
}