@import "./common.scss";
@import "./font.scss";
@import "./mixins.scss";
@import "./metrics.scss";

$html_font: map-get($font, "html");
$html_font_color: map-get($html_font, "font_color");

$paragraph: map-get($font, "paragraph");
$paragraph_fontsize: map-get($paragraph, "fontsize");
$paragraph_fontsize_tablet: map-get($paragraph, "fontsize_tablet");
$paragraph_fontsize_mobile: map-get($paragraph, "fontsize_mobile");
$paragraph_lineheight: map-get($paragraph, "line_height");

$action_font: map-get($font, "action");
$action_fontsize: map-get($action_font, "fontsize");
$action_fontsize_tablet: map-get($action_font, "fontsize_tablet");
$action_letter_spacing: map-get($action_font, "letter_spacing");
$action_fontweight: map-get($action_font, "fontweight");

$section_title_font: map-get($font, "section_title");
$section_title_fontsize: map-get($section_title_font, "fontsize");
$section_title_fontsize_tablet: map-get($section_title_font, "fontsize_tablet");

$subsection_title_font: map-get($font, "subsection_title");
$subsection_title_fontsize: map-get($subsection_title_font, "fontsize");
$subsection_title_fontsize_tablet: map-get($subsection_title_font, "fontsize_tablet");
$subsection_title_fontsize_mobile: map-get($subsection_title_font, "fontsize_mobile");

$distance_metrics: map-get($metrics, "distance");
$distance_small: map-get($distance_metrics, "small");

html {
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: $niceWhite;
    color: $html_font_color;

    * {
        box-sizing: border-box;
    }

    @include device("desktop") {
        &, body, div#root, .appContainer {
            height: 100%;
        }
    }


    body {
        margin: 0;
    }

    h2 {
        font-size: $section_title_fontsize;
    }

    h3 {
        font-size: $subsection_title_fontsize;
    }

    p, dl>div, ul>li {
        font-size: $paragraph_fontsize;
        line-height: $paragraph_lineheight;
    }

    dl>div>dd {
        margin-left: 0;
    }

    a {
        font-size: $action_fontsize;
        font-weight: $action_fontweight;
        color: $niceOrange;
        cursor: pointer;
        text-decoration: underline;
    }

    code {
        background-color: white;
        padding: 0 $distance_small;
    }

    input, a, textarea, button, div, ul, li, img {
        @include removeOutlineOnFocusables();
    }

    .appLoading {
        height: 100vh;
        width: 100%;
        font-size: 1rem;
    }

    .appContainer {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        
        .appContent {
            display: flex;
            flex-grow: 1;
            min-height: 0;
            padding: 1.5rem 0;

            .route {
                display: flex;
                flex-direction: column;
                padding: 0 3rem;
                min-width: 0;

                .appSection {
                    overflow-y: auto;
                    overflow-x: hidden;
    
                    @include hideScrollbar();
                }
            }
        }
    }

    @include device("tablet") {
        h2 {
            font-size: $section_title_fontsize_tablet;
        }

        h3 {
            font-size: $subsection_title_fontsize_tablet;
        }

        p,
        ul>li {
            font-size: $paragraph_fontsize_tablet;
        }

        .appContainer .appContent .route {
            margin-left: 7.5rem;
            padding: 0 2rem;
            .appSection {
                padding-top: 0.5rem;
                margin-top: 0;
            }
        }

        a {
            font-size: $action_fontsize_tablet
        }
    }

    @include device("mobile") {
        h3 {
            font-size: $subsection_title_fontsize_mobile;
        }

        p,
        ul>li {
            font-size: $paragraph_fontsize_mobile;
        }

        .appContainer .appContent .route {
            margin-left: 0;
            padding: 0rem 1rem;
        }
    }
}