$accent: #d44819;
$primary: #FFCF4D;
$dark: #26303D;
$light: #F1F1F1;

$transparentAccent: rgb(255, 89, 29, 0.3);
$transparentDark: rgb(38, 48, 61, 0.5);

$success: #38D400;
$error: red;

$accessibility: rgb(0, 128, 255);

$breakpoints: (
    tablet: 1024px,
    mobile: 480px
);