@import "./common.scss";

$font: (
    html: (font_color: $dark,
    ),
    route_title: (fontsize: 3rem,
        fontsize_tablet: 2.8rem),
    route_subtitle: (fontsize: 1.2rem,
        fontsize_tablet: 1rem,
        line_height: 1.75rem,
    ),
    section_title: (fontsize: 2rem,
        fontsize_tablet: 1.8rem,
        line_height_tablet: 2.4rem,
    ),
    subsection_title: (fontsize: 1.8rem,
        fontsize_tablet: 1.5rem,
        line_height_tablet: 2.2rem,
    ),
    paragraph: (fontsize: 1rem,
        fontsize_tablet: 0.9rem,
        line_height: 1.5rem,
    ),
    button: (fontsize: 0.8rem,
        letter_spacing: 0.1rem,
        fontweight: 500,
    ),
    navlink: (fontsize: 0.8rem,
        letter_spacing: 0.1rem,
        fontsize_tablet: 0.75rem,
        fontweight: 500,
    ),
    icon: (fontsize: 1.5rem,
        fontsize_small: 1.1rem,
    ),
    intro_code: (fontsize: 0.8rem))