@import "./common.scss";

$font: (
    html: (
        font_color: $niceBlack,
    ),
    route_title: (
        fontsize: 3rem,
        fontsize_tablet: 2.8rem
    ),
    route_subtitle: (
        fontsize: 1.2rem,
        fontsize_tablet: 1rem,
        line_height: 1.75rem,
    ),
    section_title: (
        fontsize: 2rem,
        fontsize_tablet: 1.8rem,
        line_height_mobile: 2.4rem,
    ),
    subsection_title: (
        fontsize: 2.5rem,
        fontsize_tablet: 2.3rem,
        fontsize_mobile: 2rem,
    ),
    paragraph: (
        fontsize: 1rem,
        fontsize_tablet: 0.9rem,
        line_height: 1.5rem,
    ),
    action: (
        fontsize: 1rem,
        fontsize_tablet: 0.9rem,
        line_height: 1.5rem,
        fontweight: 500,
    ),
    button: (
        fontsize: 0.8rem,
        letter_spacing: 0.1rem,
        fontweight: 500,
    ),
    navlink: (
        fontsize: 0.8rem,
        letter_spacing: 0.1rem,
        fontsize_tablet: 0.75rem,
        fontweight: 500,
    ),
    icon: (
        fontsize: 1.5rem,
        fontsize_small: 1.1rem,
    ))