$padding_x_small: 0.6rem;
$padding_small: 1rem;
$padding_normal: 2rem;
$padding_large: 3rem;

$metrics: (
    input: (
        height: 1.9rem
    ),
    header: (
        height: 4.6rem,
        full_height_desktop: calc(4.6rem + $padding_large),
        full_height_tablet: calc(4.6rem + $padding_normal),
        full_height_mobile: calc(4.6rem + $padding_small) 
    ),
    sidebar: (
        width: 28vw,
        width_tablet: 7.5rem
    ),
    paddings: (
        x_small: $padding_x_small,
        small: $padding_small,
        normal: $padding_normal,
        large: $padding_large,
    ),
)