@import "./common.scss";

@mixin device($device) {
    @if $device == "desktop" {
        $breakpoint: map-get($breakpoints, "tablet");
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    };
    @if map-has-key($breakpoints, $device) {
        $breakpoint: map-get($breakpoints, $device);
        
        @media screen and (max-width: $breakpoint) {
            @content;
        }
    }
}

@mixin removeOutlineOnFocusables() {
    outline: none;
    &:focus {
        outline: none
    }
    &:focus-visible {
        outline: 0.3rem solid blue;
        outline-offset: 0.2rem;
    }
}

@mixin hideScrollbar() {
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}

@mixin animation($property) {
    -webkit-transition: $property .2s ease;
    -moz-transition: $property .2s ease;
    -o-transition: $property .2s ease;
    transition: $property .2s ease;
}

@mixin shadow() {
    box-shadow: 0 0 2rem -1.5rem $niceBlack;
}